* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

main, footer {
    border: 1px solid black;
    display: flex;
}

header {
    margin-bottom: 15px;
}

.nav {
    display: block;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0 -5px;
}

.nav-item {
    margin: 0 45px;
}

.nav-item a:hover {
    background-color: blue;
    color: white;
    transition: 0.3s linear
    /*add smooth animation*/
}

.nav-link {
    text-decoration: none;
    color: blue;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 14px 10px;
}

.img-profile {
    width: 350px;
    border-radius: 50%;
}

.section {
    border: 1px solid black;
}

.HTML, .CSS, .JavaScript, .GIT {
    list-style: none;
    margin: 10px;
    height: 64px;
    width: 64px;
}

.HTML {
    background-image: url(/assets/svg/html-logo.png); /*to fix logo repeat*/
}

.CSS {
    background-image: url(/assets/svg/css3-logo.png); /*to fix logo repeat*/
}

.JavaScript {
    background-image: url(/assets/svg/js-logo.png); /*to fix logo repeat*/
}

.GIT {
    background-image: url(/assets/svg/github-logo.png); /*to fix logo repeat*/
}